<html>
<head>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
	<script src="angular.js"></script>
	<script type="text/javascript" src="jq.js"></script>
	<script type="text/javascript" src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script type="text/javascript" src="mCtrl.js"></script>
</head>
<body ng-app='app' ng-controller="mCtrl">
	<textarea name="string" ng-model='STRING' ng-change="shader()" rows="5"></textarea>

	<div class="container">

		<div ng-repeat="word in LIST" ng-class="word.type" ng-style="setStyle(word)"
		string data="{{word.id}}" types="{{ word.type }}" spanid="word.id" spantype="word.type"> {{ setWord(word) }} <span ng-if="word.range">[~{{ word.range }}]</span>
		</div>


	</div>

</body>
</html>