textarea {
	width: 80%;
	margin: 40px auto 0px;
	display: inline-block;
	line-height: 20px;
	font-size: 20px;
	max-width: 80%;
	min-width: 80%;
	padding: 3px 10px;
	/*border: 1px solid #101010;*/
	border: 0px ;
	outline: none;
	/*margin-bottom: 10px;*/
	background-color: rgba(52, 152, 219,.2);
	box-shadow: 0px 2px 8px rgba(0,0,0,.5);

}
body {
	text-align: center;
	background-color: rgba(52, 152, 219,.4)
}
.container {
	display: inline-block;
	width: 80%;
	min-height: 400px;
	/*border: 1px solid #101010;*/
	background-color: #d5d5d5;
	box-shadow: 0px 1px 8px rgba(0,0,0,.5);
}
.container div {
	float: left;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: auto;
	font-size: 20px;
	padding: 5px 5px;
	border: 1px solid transparent;
	font-family: 'Open Sans', sans-serif;
}
.container div span {
	color: black;
}
.word, .word-multi, .phrase {
	color: #c0392b;
	font-weight: 700;
}
.or, .and, .not {
	color: #27ae60;
	font-weight: 800;
	letter-spacing: -0.1ex;

}
.start, .end {
	color: #2c3e50;
	/*margin: 0 2px;*/
	/*color: white;*/
}
.word-multi:after {
	content: '[*]';
	color: black;
	font-weight: 700;
}
.phrase:before, .phrase:after {
	content: '"';
	color: #8e44ad;
	font-weight: bold;
}
.hero {
	background-color: #2c3e50 !important;
	color: black !important;
	border: 1px solid black !important;
}
.mini-hero {
	background-color: #b0b0b0 !important;
	color: #101010 !important;
	border-bottom: 1px dashed #101010 !important;
}
.mini-hero.not {
    color: #c0392b !important;
    background-color: rgba(231, 76, 60,.4) !important;
}
.mini-hero.or , .mini-hero.and {
   color: #2980b9 !important; 
   background-color: rgba(39, 174, 96,.4) !important;
}
.mini-hero.start, .mini-hero.end {
    color: white !important;
    background-color: rgba(22, 160, 133,1.0) !important;
}
.mini-hero.word, .mini-hero.phrase, .mini-hero.word-multi {
    color: rgba(236, 240, 241,1.0) !important;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    background-color: rgba(39, 174, 96,.7) !important;
}
.unclosed-scobe {
	position: relative;
	background-color: rgba(192, 57, 43,.7) !important;
	border-bottom: 1px solid rgba(192, 57, 43,1.0) !important;
}
.unclosed-scobe:after {
	content: 'Незакрытая скобка';
	position: absolute;
	width: 130px;
	font-size: 12px;
	bottom: -32px;
	left:0;
	background-color: #27ae60;
	color: white;
	letter-spacing: -.05ex;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);

}
.unclosed-inner {
	background-color: rgba(192, 57, 43,.2);
	border-bottom: 1px solid rgba(192, 57, 43,1.0) !important;
}